<html>
    <head>
        <title>Social and Technological Blog</title>
    </head>
    <body>
        <h1>
            Socio-Technological Blogging
        </h1>
        {{ content | safe }}
    </body>
</html>